@import url(../fonts/PaytoneOne.ttf);

@font-face{
	font-family: PaytoneOne;
	src: url(../fonts/PaytoneOne.ttf);
}

*{
	margin:0;
	padding: 0;
	color: #fff !important;
}


section{
	padding: 5%;
}

header, main, footer, .posButton {
	padding-left: 300px;
}

/*.contFrame{
	position: relative;
	height: 100vh;
}

.pSidesFrame{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}
*/

.topNav{
	height: 150px;
	background: url(../img/logo2.svg) #00CB53 center center no-repeat;
	background-size: contain;
}

.cNav{
	background: #00953E !important;
}

.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.txtShadow{
	text-shadow: 0px 0px 10px black, -1px -1px 10px black;
	font-size: 20px !important;
}

.main{
	height: 100vh;
	width: 100vh;
	background: blue;
}

.logo{
	height: 800px;
	opacity: .4;
}

.content{
	width: 100%;
	height: 80%;
	background: green;
}

.loader {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 10;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #ef6c00; 
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite;
}

.bgLoader{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #111;
	display: none;
	opacity: .8;
}

.animateCont{
	position: relative;
	animation-name: anime;
	animation-duration: 1s;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.mTop10{
	margin-top: 10%;
}
.mTop9{
	margin-top: 9%;
}
.mTop8{
	margin-top: 8%;
}
.mTop7{
	margin-top: 7%;
}
.mTop6{
	margin-top: 6%;
}
.mTop5{
	margin-top: 5%;
}
.mTop4{
	margin-top: 4%;
}
.mTop3{
	margin-top: 3%;
}
.mTop2{
	margin-top: 2%;
}
.mTop1{
	margin-top: 1%;
}

.input-field .prefix.active{
	color: #ef6c00!important;
}

.active {
	border-bottom: #ef6c00!important;
	box-shadow: #ef6c00!important;
}

label.active{
	color: #ef6c00!important;	
}

.hid{
	display: none;
}

h2{
	font-family: "PaytoneOne";
}

.mButtons{
	margin-top: 1%;
	margin-bottom: 1%;
}

.pSides{
	padding-left: 20%;
	padding-right: 20%;
}

.fForm{
	padding-left: 40%;
	padding-right: 40%;
}

.bgBlue{
	background-color: #2e7d32;
}

.bgMenu{
	background-color: #E1920B;
}

.bgSystem{
	background-color: #3FD17C;
}

.fTitle{
	font-family: "PaytoneOne";
}

.fHeight{
	height: 100vh;
}

.fWidth{
	width: 100%;
}

.fSize10{
	font-size: 10em;
}

.fSize9{
	font-size: 9em;
}

.fSize8{
	font-size: 8em;
}

.fSize7{
	font-size: 7em;
}

.fSize6{
	font-size: 6em;
}

.fSize5{
	font-size: 5em;
}

.fSize4{
	font-size: 4em;
}

.fSize3{
	font-size: 3em;
}

.fSize2{
	font-size: 2em;
}

.pTop10{
	padding-top: 10%;
}

.pTop5{
	padding-top: 5%;
}

.pTop4{
	padding-top: 4%;
}

.pTop2{
	padding-top: 2%;
}

.pTop1{
	padding-top: 1%;
}


@media(min-width: 320px) and (max-width: 768px){
	
	.fSize4{
		font-size: 3em;
	}

	.fSize8{
		font-size: 5em;
	}

	.mTop5{
		margin-top: 10%;
	}

	.pButtons{
		margin-top: 10%;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.pSidesFrame{
		padding-left: 0%;
		padding-right: 0%;
		/*height: 110vh;*/
	}

	.contFrame{
		/*margin-bottom: 10%;*/
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.pSidesFrame{
		padding-left: 10%;
		padding-right: 10%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.pSidesFrame{
		padding-left: 20%;
		padding-right: 20%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.pSidesFrame{
		padding-left: 25%;
		padding-right: 25%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.pSidesFrame{
		padding-left: 30%;
		padding-right: 30%;
	}
}

@media only screen and (min-width : 1500px) {
	.pSidesFrame{
		/*height: 100vh;*/
	}
	.contFrame{
		/*margin-bottom: 0%;*/
	}
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}